<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка</h1>
        <h2>Возникла ошибка во время выполнения запроса. Пожалуйста, вернитесь на главную страницу.</h2>
    </hgroup>
</body>
</html>
